/*Inicio del Codigo para el Encabezado*/

body{
    background-image: url("/Imagenes/fondo3-3.jpg");
    background-size: 100%;
}

header{ /*Fondo del Encabezado */
    margin: 1% 0% 1% 3%;
    padding: 1%;
}

.encabezado{
    width: 90%;
    position: relative; /*Ocupa los pixeles que le pasamos por "width"*/
    margin: 0 auto;
}

h1{ /*Titulo del Encabezado*/
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 50px;
    margin: 0;
    display: inline-block;
    text-shadow: 0 0 5px orangered, 0 0 15px orangered, 0 0 10px orangered, 0 0 30px orangered;
    color: #ffffff; /*#735439*/
}

.fliker1{
    animation: parpadear 1.5s infinite backwards steps(2);
}

@keyframes parpadear{
    to{
        color: white;
        text-shadow: none;
    }
}


/*-------------------------------------------------------------------------------------*/
/*Inicio del Codigo para el Encriptador*/

.ingreseTexto{
    position: relative;
    margin: 0% 0% 1% 15%;
    padding: 1% 4% 1% 4%;
    width: 40%;
    color: #ffffff;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 0 0 5px rgb(238, 0, 83), 0 0 5px rgb(238, 0, 83), 0 0 50px rgb(238, 0, 83), 0 0 50px rgb(238, 0, 83);
    border-width: 5px;
    outline: none;
    background: none;
    border-color: #ffffff;
    box-shadow: inset 0 0 50px #E052F2, 0 0 50px #E052F2, 0 0 50px #E052F2, 0 0 50px #E052F2;
    resize: none;
    border-radius: 25px;
}

.ingreseTexto::placeholder{
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 3px;
    text-shadow: 0 0 5px rgb(238, 0, 83), 0 0 5px rgb(238, 0, 83), 0 0 50px rgb(238, 0, 83), 0 0 50px rgb(238, 0, 83);
}

.aside{
    border-width: 5px;
    border-color: #ffffff;
    float: right;
    width: 25%;
    position: relative;
    border-radius: 25px;
    background-color: none; /*#4c0bd98a;*/
    margin-right: 8%;
    box-shadow: inset 0 0 50px #02f6ff, 0 0 50px #02f6ff, 0 0 50px #02f6ff, 0 0 50px #02f6ff;
    border-style: solid;
}

#miku-Michi{
    z-index: 2;
    margin: 30% 0 0 1%;
    width: 100%;   
    position: absolute;
}

.cuadroDeTexto{ /*text area de la derecha*/
    width: 90%;
    border: 1px;
    outline: none;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 5%;
    resize: none;
    background: none;
    color: #ffffff;
    font-family: "Dancing Script", cursive;
    letter-spacing: 3px;
    text-shadow: 0 0 5px rgb(238, 0, 83), 0 0 5px rgb(238, 0, 83), 0 0 50px rgb(238, 0, 83), 0 0 50px rgb(238, 0, 83);
    position: absolute;
}

.parrafo{
    font-size: 35px;
    color: #ffffff;
    width: 30%;
    height: 25%;
    letter-spacing: 3px;
    font-family: "Dancing Script", cursive;
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 17%;
    background: none;
    text-shadow: 0 0 5px black, 0 0 15px black, 0 0 10px black, 0 0 50px black;
}

.boton{
    font-size: 30px;
    border-radius: 24px;
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    border-color: #ffffff;
    border-width: 5px;
    letter-spacing: 3px;
    font-family: "Dancing Script", cursive;
}

.cajaEncriptador{
    width: 16%;
    height: 6%;
    position: absolute;
    left: 23%;
    top: 79%;
}

.cajaDesencriptador{
    width: 16%;
    height: 6%;
    position: absolute;
    left: 40%;
    top: 79%;
}

#encriptar{ 
    background: #02f7ff98;
    letter-spacing: 3px;
    transition: 0.2s;
    margin-right: 2%;
    width: 100%;
    height: 100%;
}

#encriptar:hover{
    background: #02f6ff;
    box-shadow: 0 0 10px #02f6ff, 0 0 40px #02f6ff, 0 0 80px #02f6ff;
    border-color: #ffffff;
    font-size: 35px;
}

#encriptar:active{
    background: #4040fb;
    border-color: #ffffff;
}

#desencriptar{
    background: #e372f291;
    letter-spacing: 3px;
    overflow: hidden;
    transition: 0.2s;
    right: 5%;
    width: 100%;
    height: 100%;
}

#desencriptar:hover{
    background: #E372F2;
    box-shadow: 0 0 10px #E372F2, 0 0 40px #E372F2, 0 0 80px #E372F2;
    border-color: #ffffff;
    font-size: 35px;
}

#desencriptar:active{
    background: rgb(238, 0, 83);
    border-color: #ffffff;
}

.cajaCopy{
    width: 85%;
    height: 53px;
    margin: 127.2% 0% 10% 22%;
}

#copy{ /*Propiedades del Boton Copiar*/
    width: 67%;
    height: 100%;
    background: #0404e2ab;
    transition: 0.2s;
    display: none;
}

#copy:hover{
    background: #0404e2;
    box-shadow: 0 0 10px #0404e2, 0 0 40px #0404e2, 0 0 80px #0404e2;
    border-color: #ffffff;
    font-size: 35px;
}

#copy:active{
    background: #2C118C;
    border-color: #ffffff;
}

/*-------------------------------------------------------------------------------------*/
/*Inicio del Codigo para el Pie de Pagina*/

h2{
    font-family: "Dancing Script", cursive;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 3px;
    text-shadow: 0 0 5px yellow, 0 0 15px yellow, 0 0 10px yellow, 0 0 30px yellow;
    position: absolute; /*Ocupa los pixeles que le pasamos por "width"*/
    top: 95%;
    left: 2%;
    display: inline-block;
}

.fliker3{
    animation: parpadear 1.5s infinite backwards steps(2);
}

/*-------------------------------------------------------------------------------------*/
/*Inicio del Responsive*/

@media(max-width: 768px){ /*Tablet*/
    body{
        background-image: url("/Imagenes/Tablet.jpg");
        /*background-size: 100%;*/
    }
    
    h1{
        font-size: 35px;
        margin-bottom: 1%;
    }

    .ingreseTexto{
        width: 75%;
        height: 380px;
        margin: 3% 0 5% 8%;
    }

    .cajaEncriptador{
        position: relative;
        display: inline-block;
        width: 30%;
        height: 55px;
        left: 25%;
        margin: 1% 1% 0% 0%;
    }

    .cajaDesencriptador{
        background: red;
        position: relative;
        display: inline-block;
        width: 30%;
        height: 45px;
        left: 2%;
    }

    
    .aside{
        width: 84%;
        height: 380px;
        right: 2%;
        margin: 8% 4% 0 0;
    }

    .cuadroDeTexto{
        width: 90%;
        height: 190px;
        margin: 1% 0 1% 5%;
        
    }

    #miku-Michi{
        width: 60%;
        bottom: 5%;
        left: 19%;
        padding: 0;
        margin: 0;
    } 

    .boton{
        font-size: 25px;
    }
    .cajaCopy{
        width: 35%;
        margin: 40% 0% 0 32%;
        padding: 0%;
    } 
    
    #copy{
        width: 100%;
    }

    .parrafo{
        display: none;
    }

    .fliker3{
        width: 90%;
        font-size: 35px;
        position: relative;
        margin: 10% 0% 2% 1%;
       
    }

}

@media(max-width: 720px){
    
    h1{
        font-size: 35px;
        margin-bottom: 1%;
    }

    .ingreseTexto{
        width: 65%;
        height: 235px;
        margin: 3% 0 5% 15%;
    }

    .cajaEncriptador{
        width: 28%;
        height: 45px;
        position: relative;
        display: inline-block;
        left: 25%;
        margin: 3% 0% 0% 0%;
    }


    .cajaDesencriptador{
        
        position: relative;
        display: inline-block;
        width: 28%;
        height: 45px;
        left: 26%;
        
    }

    
    .aside{
        width: 73%;
        height: 250px;
        right: 2%;
        margin: 10% 8% 0 0;
    }

    .cuadroDeTexto{
        width: 90%;
        height: 190px;
        margin: 1% 0 1% 5%;
        
    }

    #miku-Michi{
        width: 60%;
        bottom: 5%;
        left: 19%;
        padding: 0;
        margin: 0;
    } 

    .boton{
        font-size: 25px;
    }
    .cajaCopy{
        width: 35%;
        margin: 40% 0% 0 32%;
        padding: 0%;
    } 
    
    #copy{
        width: 100%;
    }

    .parrafo{
        display: none;
    }

    .fliker3{
        width: 90%;
        font-size: 25px;
        position: relative;
        margin: 5% 0% 2% 1%;
       
    }
}

@media(max-width: 480px){
    .aside{
        width: 100%;
        margin-bottom: 20px;
    }
}
